html {
    font-size: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #282828;
    background-color: #f5f5f5;
}

.rel {position: relative;}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.br-5 {
    border-radius: 3px;
    overflow: hidden;
}

main {
    /* #f5f5f5 */
    /* background-image: url(../images/background.jpg);
    background-size: cover; */
    padding-bottom: 50px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-cont-0 {
    width: 85%;
    margin: 0 auto;
}

.sec-cont {
    width: 85%;
    margin: 1% auto;
}

/* all grid containers */
.container {
    display: grid;
    column-gap: 1%;
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
    padding: 1%;
}

/* background colors */
.gray-bg{background-color: #f5f5f5;}
.wh-bg {background-color: white;}
.red-bg {background-color: #e61601;}
.aq-bg {background-color: #E2F5FF;}
.li-bg {background-color: #E1BEE7;}
.gr-bg {background-color: #B5DE93;}
.pink-bg{background-color: #FEE2CC;}
.blue-bg{background-color: #22388D;}
.or-bg {background-color: #e4811c;}

/* colors */
.wh {color: white;}

.subtitle {
    padding: 1%;
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;  
    display: grid;
    align-items: center;
}

/* subtitle with two items */
.subtitle-2 {
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/* subtitle with three items */
.subtitle-3 {
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.small {font-size: 1.1rem;}

/* cards */
.card {
    border-radius: 2px;
    position: relative;
}
        
.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
}

.image{
    width: 100%;
}

.discount {
    position: absolute;
    padding: 5px;
    background-color: #FEE2CC;
    color: #f68b1e;
    top: 3%;
    right: 3%;
    font-size: 1rem;
    border-radius: 3px;
}

.card img {
    height: 12rem;
}
        
/* name and price tags */
.name-c {
    font-size: 1.1rem;
    text-align: center;
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
}

.name {
    font-size: 1.1rem;
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
}

.price {
    font-size: 1.2rem;
    margin: 5px 0;
    font-weight: bold;
    padding: 0 5px;
}

.old-price {
    font-size: 1rem;
    margin: 5px 0;
    text-decoration: line-through;
    padding: 0 5px;
    opacity: 0.5;
}

.let-us {
    font-size: 1rem;
    font-weight: bold;
    padding: 1.5rem 0;
}